<%= form_for(@mydirectory) do |f| %>
  <% if @mydirectory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mydirectory.errors.count, "error") %> prohibited this mydirectory from being saved:</h2>

      <ul>
      <% @mydirectory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :mydirectory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
