<p id="notice"><%= notice %></p>

<h1>Listing Myfiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mydirectory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myfiles.each do |myfile| %>
      <tr>
        <td><%= myfile.name %></td>
        <td><%= myfile.mydirectory %></td>
        <td><%= link_to 'Show', myfile %></td>
        <td><%= link_to 'Rename', edit_myfile_path(myfile) %></td>
        <td><%= link_to 'Delete', myfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Myfile', new_myfile_path %>
